@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/** SUSY VARIABLES **/
/** COLORS **/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\0000334}}
.clear {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\0000338}}
.hidden {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\0000342}}
a {
  text-decoration: none;
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\0000346}}
a:hover {
  color: gray;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\0000351}}
img {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\0000355}}
body {
  background-color: white;
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\0000363}}
#wrapper {
  *zoom: 1;
  max-width: 288px;
  _width: 288px;
  padding-left: 48px;
  padding-right: 48px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
#wrapper:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\0000363}}
  #wrapper {
    max-width: 960px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\0000372}}
header .logo {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -48px;
  display: inline;
  display: block;
  width: 288px;
  height: 68px;
  margin: 0;
  background: url("../img/hb_logo_s.png") no-repeat center;
}
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\0000372}}
  header .logo {
    width: 76.66667%;
    float: right;
    margin-right: 0;
    padding-left: 11.66667%;
    padding-right: 11.66667%;
    background: url("../img/hb_logo.png") no-repeat center;
    margin: 25px auto 15px;
    height: 177px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\0000390}}
header .banner {
  width: 100%;
  float: left;
  margin-right: 16.66667%;
  display: inline;
}
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\0000390}}
  header .banner {
    width: 30%;
    float: left;
    margin-right: 5%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\0000397}}
  header .banner .haare:hover,
  header .banner .naegel:hover,
  header .banner .kosmetik:hover {
    -webkit-box-shadow: 0px;
    -moz-box-shadow: 0px;
    box-shadow: 0px;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003103}}
header .banner:last-child {
  float: right;
  margin-right: 0;
  *margin-left: -48px;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003109}}
header .banner .haare,
header .banner .naegel,
header .banner .kosmetik {
  display: block;
  height: 60px;
  width: 280px;
  text-decoration: none;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003116}}
header .banner .haare:hover,
header .banner .naegel:hover,
header .banner .kosmetik:hover {
  -webkit-box-shadow: 0px 1px 3px #888888;
  -moz-box-shadow: 0px 1px 3px #888888;
  box-shadow: 0px 1px 3px #888888;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003123}}
header .banner .haare {
  background-image: url("../img/haare/haare_banner_s.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003123}}
  header .banner .haare {
    background-image: url("../img/haare/haare_banner.png");
    height: 140px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003134}}
header .banner .naegel {
  background-image: url("../img/naegel/naegel_banner_s.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003134}}
  header .banner .naegel {
    background-image: url("../img/naegel/naegel_banner.png");
    height: 140px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003145}}
header .banner .kosmetik {
  background-image: url("../img/kosmetik/kosmetik_banner_s.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003145}}
  header .banner .kosmetik {
    background-image: url("../img/kosmetik/kosmetik_banner.png");
    height: 140px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003157}}
#nav {
  display: none;
  clear: both;
  border-bottom: 1px solid black;
}
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003157}}
  #nav {
    display: block;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003165}}
#nav li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-top: 20px;
  padding: 5px 15px;
  list-style: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003175}}
#nav li.active, #nav li:hover, #nav li:focus {
  color: white;
  background-color: black;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003179}}
#nav li.active a, #nav li:hover a, #nav li:focus a {
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003185}}
#nav li a {
  margin: 5px;
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003192}}
#nav li.impressum {
  float: right;
  font-size: 0.7em;
  padding: 6px 10px;
  margin-top: 28px;
  line-height: 9px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003202}}
#content {
  font-size: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003205}}
#content .content-block {
  width: 100%;
  float: left;
  margin-right: 16.66667%;
  display: inline;
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
  padding-top: 0;
}
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003205}}
  #content .content-block {
    width: 30%;
    float: left;
    margin-right: 5%;
    border-bottom: 0px;
    padding-top: 48px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003209}}
  #content .content-block.solo {
    width: 100%;
    float: left;
    margin-right: 5%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003215}}
  #content .content-block:nth-child(3n), #content .content-block.products, #content .content-block.solo {
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003219}}
  #content .content-block.duo {
    width: 65%;
    float: left;
    margin-right: 5%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003222}}
  #content .content-block.duo h3 {
    margin-bottom: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003225}}
  #content .content-block.duo h3 + h3 {
    margin-bottom: 30px;
    font-size: 2em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003243}}
#content .content-block h3 {
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003248}}
#content .content-block h3 > img[alt="herren"] {
  margin-bottom: -20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003251}}
#content .content-block h3 > img[alt="nagelmodellage"] {
  margin-bottom: -12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003254}}
#content .content-block h3 > img[alt="dermazeutisch"] {
  margin-bottom: -15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003259}}
#content .content-block li > span {
  float: right;
}
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003263}}
  #content .content-block.products {
    margin-top: 82px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003268}}
#content .content-block.products img {
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003273}}
#content .content-block.swiper-container {
  width: 100%;
  height: 150px;
  padding: 5px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003278}}
#content .content-block.swiper-container .swiper-slide {
  width: 155px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003282}}
#content .content-block.swiper-container .swiper-slide img {
  height: 150px;
}
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003273}}
  #content .content-block.swiper-container {
    width: 100%;
    float: left;
    margin-right: 5%;
    float: right;
    margin-right: 0;
    height: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003293}}
  #content .content-block.swiper-container .swiper-slide {
    width: 30%;
    float: left;
    margin-right: 5%;
    padding: 48px 0px 0px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003297}}
  #content .content-block.swiper-container .swiper-slide:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003301}}
  #content .content-block.swiper-container .swiper-slide img {
    height: 280px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003310}}
.page-meta {
  color: darkgray;
  font-size: 0.8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003313}}
.page-meta span {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003318}}
.adress {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -48px;
  display: inline;
  font-size: 0.55em;
  text-align: center;
  line-height: 1.9em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003325}}
#index .content-block > .adress {
  display: none;
}
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003318}}
  .adress {
    width: 100%;
    float: left;
    margin-right: 5%;
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003334}}
  #index .content-block > .adress {
    display: inline-block;
    font-size: 1em;
    text-align: left;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003343}}
.productsstart {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -48px;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003346}}
.productsstart img {
  margin-right: 5px;
}
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003343}}
  .productsstart {
    display: none !important;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003355}}
.contact {
  clear: both;
  background-color: lightgray;
  padding-top: 5px;
  margin-top: 10px;
  text-align: center;
  font-size: 0.6em;
  line-height: 1.5em;
}
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003355}}
  .contact {
    display: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003369}}
.contact .impressum-link {
  display: block;
  padding: 3px 0px 3px 5px;
  margin-top: 5px;
  background-color: #e0e0e0;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Development\/haiandbeauty\/theme\/HaiAndBeauty\/sass\/style\.scss}line{font-family:\00003379}}
.contact .impressum-link:hover {
  background-color: #c6c6c6;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
